/*
Color Palette
#211c84
#4d55cc
#7a73d1
#b5a8d5
https://colorhunt.co/palette/211c844d55cc7a73d1b5a8d5
*/
.navbar {
  background-color: #211c84;
  position: fixed;
  height: 10vh;
  width: 100vw;
  z-index: 1000;
  min-height: 75px;
  padding: 1rem;
  display: flex;
  align-items: center;
}

button.nav-btn, 
#search-btn {
  border-color: #7a73d1;
  background-color: none;
  height: 5vh;
  min-height: 50px;
  width: 25vh;
  min-width: 100px;
  max-width: 125px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7a73d1;
  font-weight: bolder;
}

button.nav-btn:hover,
#search-btn:hover {
  background-color: #7a73d1;
  color: whitesmoke;
}

.navbar img {
  height: 5vh;
  min-height: 50px;
  width: 25vh;
  max-width: 125px;
  object-fit: contain;
}

input[type="text"], select {
  width: 40vw;
  padding: 10px 20px;
  border: 2px solid #7a73d1;
  border-radius: 0;
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;  
  display: inline-block;
}
input[type=text]:focus {
  border: 2px solid #7a73d1;
  outline: none;
}

#csbs {
  display: flex;
  align-items: center;
}
